<div class="text-center row">
  <div class="span6 offset3">
    <h1>Sign up</h1>
    <%= devise_error_messages! %>
        <div class="hero-unit">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>


          <%= f.label :first_name %>
          <%= f.text_field :first_name %>

          <%= f.label :last_name %>
          <%= f.text_field :last_name %>

          <div><%= f.label :email %>
          <%= f.email_field :email, :autofocus => true %></div>

          <div><%= f.label :password %>
          <%= f.password_field :password %></div>

          <div><%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %></div><br />

          <%= raw recaptcha_tags %><br />

          <div><%= f.submit "Sign up", class: "btn btn-large btn-primary" %></div>
        <% end %>

      <p>Already have an account? <%= render "devise/shared/links"  %></p>
    </div>
  </div>
</div>
