<h2>Bee Blocks you are Observing this Season - (<%=(@blocks.count)%>) </h2>

<table>
  <thead>
    <tr>
      <th>Block #</th>
      <th>Block ID</th>
      
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <p>
    Please verify that you have entered your bee block number correctly. If you need to change it, choose Edit next to the block number below.
  </p>

  <tbody>
    <% @blocks.each do |block| %>
      <tr>
        <td><%= block.block_number %></td>
        <td><%= block.block_id %></td>

        
        <td><%= link_to 'Edit ', edit_block_path(block) %> |</td>
        <td><%= link_to 'Delete', block, method: :delete, data: { confirm: 'Do you wish to delete this block?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Register a Bee Block', new_block_path, method: :get %>

<br>

<p>
  <strong>To report data on nesting activity at your bee block, <%= link_to "please click here", reports_path %></strong>.
</p>
