 <h1>Admin - Report Photos</h1>
        <div class="center"> Note: To delete these photos, please go to your <a href='/reports'>reports page</a></div>
        <br/>
        <table class="center table table-striped table-hover">
          <thead>
          <tr>
            <th>Image</th>
            <th>Subject</th>
            <th>Comment</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <% @report_photos.each do |photo| %>
              <tr>
                <td><%= image_tag(photo.image_url, :width => 100) if photo.image.present? %></td>
                <td><%= photo.image_subject %></td>
                <td><%= photo.comment %></td>
                <td><%= photo.block.user.first_name %></td>
                <td><%= photo.block.user.last_name %></td>
                <td><%= photo.block.user.email %></td>
                <td><%= link_to 'Show', photo %></td>
                <td><%= link_to 'Edit', edit_report_path(photo) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
         <div class="center"><%= will_paginate @report_photos, :param_name => 'report_photo_page' %></div>
        <br> <br/>