<div class = "hero-unit">
    <h3>Observations </h3>
    <div id="activity" class="field">
    <a href="#" onchange="('row').toggle(); return false;"></a>
    <%= f.label 'What activity would you like to report?' %>
    <%= f.select :activity, [[''],['New Plug (including spider webs)', 'New'], ['Change in plug', 'Change'], ['Something other than plug in tunnel (e.g. earwig, ladybug, ants)', 'Other'],  ['Misc. observation NOT associated with a particular tunnel (i.e. woodpecker/ants at my block, block fell down, etc.)', 'Misc'],[ 'Misc. observation associated with a particular tunnel please enter tunnel letter and number below (i.e. bee in A3, ants in and out of tunnel b2)', 'Misc'], ['There has been no new activity at my block', 'No New']] %>
    </div>

    <% fun_name = "" %>
    <% fun_name = "eval('hello()')"%>

    <div class="field">
    <%= f.label 'Which block is this report for?' %>
    <%= f.collection_select :block_number, Block.where(:user_id => current_user.id), :block_number, :nickname, {:prompt => false}, {:include_blank => true, :onchange => "showColumns($(this).val())"} %>
    </div>

    <div class="field">
    <%= f.label 'When did you make this observation?' %>
    <%= f.date_select :date, :class => "datepicker" %>
    </div>

    <h3><small style="color:rgba(0,0,0,0.90)">Leave row and column blank if you are reporting that you saw no new activity or if you have a miscellaneous observation that is not associated with a particular nest tunnel.</small></h3>
    <br/>
    <div class="field" >
    <%= f.label 'Select plug row letter:' %>
    <%= f.select :pluga, [[], ['A', 'A'], ['B', 'B'], ['C', 'C'], ['D', 'D'], ['E', 'E'], ['F', 'F'], ['G', 'G'], ['H', 'H'],
                          ['I', 'I'], ['J', 'J']] %>
    </div>

    <div class="field">
    <%= f.label 'Select plug column number:' %>
    <%= f.select :plugn, [['', ''], ['1', '1'], ['2', '2'], ['3', '3']]%>
    </div>

    <div class="field">
    <%= f.label "If you're reporting on the presence of a new plug, select a plug type." %>
    <%= f.select :plug_type, [[''],['Spider webs'], ['Silk'], ['Loose debris'], ['Resin'], ['Resin w/ Debris'], ['Chewed Leaves'], ['Chewed Leaves w/ Pebbles'], ['Whole leaf pieces'], ['Whole petal pieces'], ['Grass blades'], ['Wood'], ['Plant fibers'], ['Plant fibers w/ Debris'], ['Mud'], ["I really don't know"]] %>
    </div>

    <div class="field">
    <%= f.label 'Is your nest plug whole?' %>
    <%= f.select :plug_state, [[''],['Yes the plug is intact'], ['No, there is a small, off-center hole in the plug'],  ['No, there is a fairly large hole in the plug']] %>
    </div>

    <div class="field">
    <%= f.label "What is the depth of your nest plug?" %>
    <%= f.select :plug_placement, [[''],['Recessed more than 1/2 inch'], ['Recessed 1/4 to 1/2 inch'],  ['recessed less than 1/4 inch'],  ['Flush with the entrance'],  ['Protruding from the face of the block']] %>
    </div>

    <div class="field">
      <h3><small style="color:rgba(0,0,0,0.90)">Please feel free to add a comment or description to help us learn more about what you've observed. If you’re reporting on something other than a nest plug please tell us about it here.</small></h3>
    <%= f.text_area :comment, :maxlength => 255, :id => "field", :onkeyup => "countChar(this)" %>
    <div id="charNum"></div>
    </div>

    <div>
    <h3><small style="color:rgba(0,0,0,0.90)">Optional: Please upload a photo to help us verify your nest plug observation. You may also upload photos of other subjects, please choose the appropriate subject from the dropdown menu.</small></h3>
    <%= f.select :image_subject, [[],['Nest plug'], ['Insect at my bee block'], ['Insect not at my bee block'], ['Whole Block'], ['Miscellaneous']] %><br />
    <%= f.file_field :image %>
    </div> <br/>

  <div class="center">
    <%= f.submit "Submit Report", class:"center btn btn-large btn-primary" %>
    <h3><small style="color:rgba(0,0,0,0.90)">Note: Only click the submit button once, if you're uploading a photo, it's going to take some time.</small></h3>
  </div>

  <%= f.hidden_field :block_id, :value => @report.block_id %>
</div>




  <script src="http://code.jquery.com/jquery-1.5.js"></script>
  <script>
      function countChar(val) {
          var len = val.value.length;
          if (len >= 500) {
              val.value = val.value.substring(0, 255);
          } else {
              $('#charNum').text(255 - len).css('color', "#000099")
          }
      };


      function showColumns(block_number)
      {
        console.log(block_number)
        if(/^153...$/.test(block_number)){
          console.log("regex match");
        }
      }
      
  </script>


