<div class = "hero-unit">
    <h3>Observations </h3>
    <div id="activity" class="field">
    <a href="#" onchange="('row').toggle(); return false;"></a>
    <%= f.label 'What activity would you like to report?' %>
    <%= f.select :activity, [[''],['New plug', 'new'], ['Change in plug', 'change'], ['Something other than plug in tunnel', 'other'],  ['Miscellaneous observation', 'other'], ['There has been no new activity at my block', 'other']] %>
    </div>

    <div class="field">
    <%= f.label 'Which block is this report for?' %>
    <%= f.collection_select :block_id, Block.where(:user_id => current_user.id), :id, :block_number, :prompt => false  %>
    </div>

    <div class="field">
    <%= f.label 'When did you make this observation?' %>
    <%= f.date_select :date, :class => "datepicker" %>
    </div>

    <h3><small style="color:black">Leave row and column blank if you are reporting that you saw no new activity or if you have a miscellaneous observation that is not associated with a particular nest tunnel.</small></h3>

    <div class="field" >
    <%= f.label 'Select plug row (This is the letter to the left of the plug).' %>
    <%= f.select :pluga, [[], ['A', 'A'], ['B', 'B'], ['C', 'C'], ['D', 'D'], ['E', 'E'], ['F', 'F'], ['G', 'G'], ['H', 'H'],
                          ['I', 'I'], ['J', 'J']] %>
    </div>

    <div class="field">
    <%= f.label 'Select plug column (This is the number that is above the plug).' %>
    <%= f.select :plugn, [['', ''], ['1', '1'], ['2', '2'], ['3', '3'], ['4', '4']] %>
    </div>

    <div class="field">
    <%= f.label "If you're reporting on the presence of a new plug, select a plug type." %>
    <%= f.select :plug_type, [[''],['Spider webs'], ['Silk'], ['Loose debris'], ['Resin'], ['Resin w/ Debris'], ['Chewed Leaves'], ['Chewed Leaves w/ Pebbles'], ['Whole leaf pieces'], ['Whole petal pieces'], ['Grass blades'], ['Wood'], ['Plant fibers'], ['Plant fibers w/ Debris'], ['Mud']] %>
    </div>

    <div class="field">
    <%= f.label 'Is your nest plug whole?' %>
    <%= f.select :plug_state, [[''],['Yes the plug is intact'], ['No, there is a small, off-center hole in the plug'],  ['No, there is a fairly large hole in the plug']] %>
    </div>

    <div class="field">
    <%= f.label 'Comments or additional observations?' %>
    <%= f.text_area :comment%>
    </div>

    <div>
    <h3><small style="color:black">Optional: Please upload a photo to help us verify your nest plug observation. You may also upload photos of other subjects, please choose the appropriate subject from the dropdown menu.</small></h3>
    <%= f.select :image, [[''],['Nest plug'], ['Insect at my bee block'], ['Insect not at my bee block'], ['Whole Block'], ['Miscellaneous']] %><br />
    <%= f.file_field :image %>
    </div> <br/>




    <br/>

  <div class="center">
    <%= f.submit "Submit Report", class:"center btn btn-large btn-primary" %>
  </div>
</div>



