
<% if current_user.admin? == true %>
    <h1>Admin Reports List - (<%=(@reports.count)%>) </h1>

    <% if @reports.count == 0 %>
    <div class="center hero-unit">
    <p>Enter some data: </p>
    <%= link_to 'New Report', new_report_path , class: "btn btn-large btn-default"%>
    </div>
<% else %>
    <div class="center">
    <div class="center btn-group btn-group-xs">
      <%= link_to 'New Report', new_report_path , class: "btn btn-medium btn-primary"%>
      <%= link_to 'Export as CSV', reports_path(format: "csv") , class: "btn btn-medium btn-primary"%>
      <%= link_to 'Export to Excel', reports_path(format: "xls") , class: "btn btn-medium btn-primary"%>
    </div>
    </div><br/>
<table class="center table table-striped table-hover">
  <thead>
    <tr>
      <th><%= sortable 'activity', 'Activity' %></th>
      <th><%= sortable 'block_number', 'Block Number' %></th>
      <th><%= sortable 'date','Date' %></th>
      <th>Image</th>
      <th>Plug state</th>
      <th>Plug type</th>
      <th>Plug Row</th>
      <th>Plug Col</th>
      <th>Plug Placement</th>
      <th>Comments</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.activity %></td>
        <td><%= report.block_number %></td>
        <td><%= report.date %></td>
        <td><%= image_tag(report.image_url, :width => 100) if report.image.present? %></td>
        <td><%= report.plug_state %></td>
        <td><%= report.plug_type %></td>
        <td><%= report.pluga %></td>
        <td><%= report.plugn %></td>
        <td><%= report.plug_placement %></td>
        <td><%= report.comment %></td>
        <td><%= report.block.user.first_name %></td>
        <td><%= report.block.user.last_name %></td>
        <td><%= report.block.user.email %></td>
        <td><%= link_to 'Show Report', report %></td>
        <td><%= link_to 'Edit Report', edit_report_path(report), confirm: "Wait! Are you sure you want to edit this report? If you need to report that a plug has changed, please create a new record. If you need to correct a mistake that you have made, then please click OK." %></td>
        <td><%= link_to 'Delete Report', report, method: :delete, confirm: 'Whoa Nelly! Are you sure you want to delete this report? This action cannot be undone. If a nest plug has changed in some way, please create a new report—we want to keep track of the original state of your plug. If you’re sure you want to delete this report forever, click OK'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<%end%>


  <% else %>
    <h1>Reports History - (<%=(@reports.count)%>) </h1>

      <% if @reports.count == 0 %>
      <div class="center hero-unit">
      <p>Enter some data: </p>
      <%= link_to 'New Report', new_report_path , class: "btn btn-large btn-default"%>
      </div>
  <% else %>
      <div class="center">
      <div class="center btn-group btn-group-xs">
        <%= link_to 'New Report', new_report_path , class: "btn btn-medium btn-primary"%>
        <%= link_to 'Export as CSV', reports_path(format: "csv") , class: "btn btn-medium btn-primary"%>
        <%= link_to 'Export to Excel', reports_path(format: "xls") , class: "btn btn-medium btn-primary"%>
      </div>
      </div><br/>
  <table class="center table table-striped table-hover">
    <thead>
      <tr>
        <th><%= sortable 'activity', 'Activity' %></th>
        <th><%= sortable 'block_number', 'Block Number' %></th>
        <th><%= sortable 'date','Date' %></th>
        <th>Image</th>
        <th>Plug state</th>
        <th>Plug type</th>
        <th>Plug Row</th>
        <th>Plug Col</th>
        <th>Plug Placement</th>
        <th>Comments</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.activity %></td>
          <td><%= report.block_number %></td>
          <td><%= report.date %></td>
          <td><%= image_tag(report.image_url, :width => 100) if report.image.present? %></td>
          <td><%= report.plug_state %></td>
          <td><%= report.plug_type %></td>
          <td><%= report.pluga %></td>
          <td><%= report.plugn %></td>
          <td><%= report.plug_placement %></td>
          <td><%= report.comment %></td>
          <td><%= link_to 'Show Report', report %></td>
          <td><%= link_to 'Edit Report', edit_report_path(report), confirm: "Wait! Are you sure you want to edit this report? If you need to report that a plug has changed, please create a new record. If you need to correct a mistake that you have made, then please click OK." %></td>
          <td><%= link_to 'Delete Report', report, method: :delete, confirm: 'Whoa Nelly! Are you sure you want to delete this report? This action cannot be undone. If a nest plug has changed in some way, please create a new report—we want to keep track of the original state of your plug. If you’re sure you want to delete this report forever, click OK'  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  </div>
  <%end%>
<% end %>
<div class="center"><%= will_paginate @reports %></div>
