<header class="navbar navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class = "container">
         <ul class = "nav pull-left">
           <li><%= image_tag('bee.png', size:"40x55", id: "logo")%></li>
           <li><h4><%= link_to "The Beesneeds", root_path, :style=>'color:#000000;' %></h4></li>
         </ul>


        <!--<li class="active"><a href="/reports/new">Enter Data</a></li>-->
        <nav>
          <ul class="nav pull-right">
            <% if user_signed_in? %>
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <strong><%= current_user.email %></strong> <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">

                    <li><%= link_to 'Edit profile', edit_user_registration_path%></li>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %> </li>
                  </ul>
            <% else %>
                <li> <%= link_to "Sign up", new_user_registration_path%> </li>
                <li> <%= link_to "Login", new_user_session_path %> </li>
            <% end %>
          </ul>

          <% if user_signed_in? and current_user.admin? == false %>
            <ul class = "nav pull-right">
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Report Data <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Data Entry Form', new_report_path %></li>
                  <li><%= link_to 'Upload Image', new_photo_path %></li>
                </ul>
                <!--<li><a href="/blocks">Your Bee Blocks</a></li>-->
                <li id="fat-menu" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Your Bee Block <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="/reports">Reports</a></li>
                      <li><a href="/blocks">Bee Block Info</a></li>
                    </ul>
                <li><a href="/pages/stat">Recent Activity</a></li>
                </ul>

          <% end %>
          <% if user_signed_in? and current_user.admin? == true %>
              <ul class = "nav pull-right">
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Report Data <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Data Entry Form', new_report_path %></li>
                    <li><%= link_to 'Upload Image', new_photo_path %></li>
                  </ul>
                  <!--<li><a href="/blocks">Your Bee Blocks</a></li>-->
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Your Bee Block <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/reports">Reports</a></li>
                    <li><a href="/blocks">Bee Block Info</a></li>
                  </ul>
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Recent Activity <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/pages/stat">Recent Activity</a></li>
                    <li><a href="/photos">Gallery</a></li>
                  </ul>

                  </ul>
          <% end %>



        </nav>
        </div>
    </div>
</header>